body{
    margin:0;    
}

.container{
    width: 100%;
    min-height: 800px;
    min-height: 100vh;
}

header{
    display: flex;
    justify-content: space-around;
    padding: 30px 0;
}

header i{
    font-size: 1.5em;
    color:white;
    cursor: pointer;
}
.languageBlock{
    position: relative;
}


.languageBlock i:hover + .languageList{
    display: block;
} 

.languageList:hover{
    display: block;
}
.languageList{
    display: none;
    position: absolute;
    transform: translate(-10%,0);
    width: 30px;
    padding: 10px 0 0;
    animation:listDrop 2s forwards;
    overflow: hidden;
}

@keyframes listDrop{
    from{ height: 0;}
    to{height: 120px;}
}

.languageList li{
    transition: 0.5s;
}
.languageList li:hover{
    cursor: pointer;
    background:lightblue;
    padding: 5px;
    border-radius: 10px;
}
nav a{
    margin: 0 5px;
    padding: 5px 15px;
    border-radius: 25px;
    font: italic  1.2em normal;
    color:#fff;
    text-decoration: none;
    transition: 1s;
}

nav a:hover{
    background-color:white;
    color:black;
}

.title{
    padding: 30px 0 0;
    font: normal 3em black;
    text-align: center;
}


.swiper-container {
    width: 100%;
    height: 100%;
  }
.swiper-pagination-bullet{
    background:lightblue;
    width: 20px;
    height: 20px;
}
.swiper-pagination-bullet-active {
    background-color: violet;
  }
.swiper-slide {
    height: 80vh;
    text-align: center;
    font-size: 18px;
    background: rgba(0, 0, 0, 0.0);
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

.swiper-button-next , .swiper-button-prev{
    color:lightblue;
}
.sliderBlock{
    display: flex;
    justify-content: center;
    align-items:center;
    width: 70%;
    margin: 0 auto;

}

.servicesСhoice{
    margin: 30px 0;
    display: flex;
    justify-content: space-around;
}

.servicesСhoice button{
    width: 400px;
    height: 70px;
}

.logoService{
    position: relative;
    text-align: center;
    margin: 180px 0;
}

.logoService img{
    transform: translate(-50%,0);
    height: 300px;
    position: absolute;
    top:-150px;
}

.services{
    display: flex;
    justify-content: space-between;
    align-items:center;
    width: 70%;
    max-height: 500px;
    margin: auto;
    border-top-right-radius:150px;
    border:1px solid white;
    overflow: hidden;
    z-index: 0;
}

.serviceTypeChoise{
    display: flex;
    flex-direction: column;
    
}

.serviceType{
    display: flex;
    align-items:center;
    align-content: center;
    transform: translate3d(0%,  100%, 0);
    width: 420px;
    height: 165px;
    margin: 10px 0;
}


.serviceName{
    color:white;
    text-align: center;
}
.serviceLogo{
    display: block;
    width: 135px;
    height: 165px;
    border-top-right-radius:80px;
}
.serviceType{
    position: relative;
}
.serviceType img{
    position: absolute;
    right: 35%;
    width: 150px;
}
.active{
    animation: span;  
    animation: circle 1s forwards;
    clip-path: circle(25%);
    background: violet;
    
}
.serviceType span{
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: left;
    display: inline-block;

}
@keyframes circle {
    0% { clip-path: circle(25%); }
    100% { clip-path: circle(75%); }
  }
.serviceInfo{
    align-self: flex-end;
    width: 70%;
    height: 350px;
    background:red;
}

.contacts{
    display: flex;
    justify-content: center;
}

.contactsInfo{
    width: 50%;
    font-size: 44px;
    letter-spacing: -1px;
    line-height: 44px;
    color: #000;
    font-family: "Myriad Pro";
    text-align: center;
    
}

.contactsForm{
    width: 50%;
    width: 50%;
    font-size: 44px;
    letter-spacing: -1px;
    line-height: 44px;
    color: #000;
    font-family: "Myriad Pro";
    text-align: center;
}

.green{background:green;}
.red{
    background: url('/img/backgroundone.jpg') center/cover fixed;
}
.yellow{background:yellow;}