body{
    margin:0;    
}

.container{
    width: 100%;
    min-height: 800px;
    height: 100vh;
}

header{
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

nav a{
    margin: 0  5px;
    text-decoration: none;
}

.title{
    padding: 50px 0 0;
    font: normal 3em black;
    text-align: center;
}

.sliderBlock{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:30px auto;
}

.leftButton{border:1px solid white}

.rightButton{border:1px solid white}

.slider{
    border:1px solid green;
    width: 70%;
    height: 60vh;
    margin: 0 10px;
    background:white;
    border-radius: 25px;
}

.servicesСhoice{
    margin: 30px 0;
    display: flex;
    justify-content: space-around;
}

.servicesСhoice button{
    width: 400px;
    height: 70px;
}

.services{
    display: flex;
    justify-content: space-between;
    align-items:center;
    width: 80%;
    height: 500px;
    margin: auto;
    border-top-right-radius:150px;
    border:1px solid white;
    overflow: hidden;
}

.serviceTypeChoise{
    display: flex;
    flex-direction: column;
    
}

.serviceType{
    display: flex;
    align-items:center;
    align-content: center;
    width: 420px;
    height: 165px;
    margin: 10px 0;
}


.serviceName{
    color:white;
    text-align: center;
}
.serviceLogo{
    display: block;
    width: 135px;
    height: 165px;
    border-top-right-radius:80px;
}

.serviceType span{
    width: 150px;
    height: 67px;
    background:black;
}

.serviceInfo{
    width: 50%;
    height: 50vh;
    background:red;
}
.green{background:green;}
.red{background:red;}
.yellow{background:yellow;}