*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
.container{
    width: 100%;
   height:auto;
    margin: auto;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}
header i{
    font-size: 1.5em;
    color: #858585;
    cursor: pointer;
}
.languageBlock{
    position: relative;
}
.languageBlock i:hover + .languageList{
    display: block;
} 
.languageList:hover{
    display: block;
}
.languageList{
    display: none;
    position: absolute;
    z-index: 99;
    width: 30px;
    padding: 10px 0 0;
    overflow: hidden;
    animation:listDrop 2s forwards;
}
@keyframes listDrop{
    from{ height: 0;}
    to{height: 120px;}
}
.languageList li{
    transition: 0.5s;
}
.languageList li:hover{
    padding: 5px;
    background:lightblue;
    border-radius: 10px;
    cursor: pointer;
}
nav ul{
    display: flex;
}
nav ul a{
    margin: 0 5px;
    padding: 5px 15px;
    font:italic 900 20px 'Roboto';
    text-transform: uppercase;
    color: #858585;   
    text-decoration: none; 
    border-radius: 25px;
    transition: 1s;
}
nav a:hover{
    background-color:white;
    color:black;
}
.title{
    font-style: italic;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    color: #464646;
    text-align: center;
    text-transform: uppercase;
    
}
.portfolioTitle{
    padding-top: 86px;
    font:italic 900 64px/183.8% 'Roboto';
    color: #464646;
}
.serviceTitle{    
    position: relative;
    width: 70%;
    margin:40px auto auto;
    background: rgba(216, 224, 255, 0.55);
    font:italic 900 64px 'Roboto';    
    border-radius: 85px;
}
.contanctTitle{
    width: 50%;
    margin: auto;
    background: rgba(216, 224, 255, 0.55);
    position: relative;
    font:italic 900 64px 'Roboto';
    border-radius: 85px;
}
.emptyDivOne{
    position: absolute;
    left: 20%;
    top: -15px;
    width: 50px;
    height: 50px;
    background: #F7F8FF;
    border-radius: 180px;
}
.emptyDivTwo{
    position: absolute;
    right: -25px;
    top: 50%;
    width: 82px;
    height: 50px;
    background: #FFFFFF;
    border-radius: 180px;
}
.emptyDivThree{
    position: absolute;
    left: 0;
    top: -35px;
    width: 70px;
    height: 102.16px;
    background: #FFFFFF;
    border-radius: 151px;
    transform: rotate(40deg);
}
.infoMobile{
    display: none;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-pagination-bullet{
    width: 20px;
    height: 20px;
    background: #00C0FF;
}
.swiper-pagination-bullet-active {
    background-color: white;
}
.swiper-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    height: 80vh;
    text-align: center;
    background: rgba(0, 0, 0, 0.0);
    font-size: 18px;
}
.swiper-button-next , .swiper-button-prev{
    color:lightblue;
}
.sliderBlock{
    display: flex;
    justify-content: center;
    align-items:center;
    width: 100%;
    margin: 0 auto;

}
.servicesСhoice{
    display: flex;
    justify-content: space-around;
    margin: 30px 0;
}
.servicesСhoice button{
    height: 53px;
    width: 340px;    
    background-color: transparent;
    font:normal 900 31px/31px 'Roboto';
    color: #464646;
    text-transform: uppercase;
    border:3px solid #E8ECFF;
    border-radius: 3px 40px  3px 40px;
    cursor: pointer;
    outline: none;    
    letter-spacing: -1px;
    transition: .3s;
}
.servicesСhoice button:hover{
    background-color:#D8E0FF;
    border-radius: 0;

}
.logoService{
    position: relative;
    margin: 180px 0;
    text-align: center;
}
.logoService img{
    position: absolute;
    top:-150px;
    height: 300px;
    transform: translate(-50%,0);
}
.services{
    display: flex;
    justify-content: space-between;
    align-items:center;    
    width: 100%;
    max-height: 450px;
    margin: 0 auto;
    background-image: linear-gradient(to bottom left, #949494 50%, #949494 50%), linear-gradient(#949494, #949494), linear-gradient(#949494, #949494);
    background-size: 50px 50px, 100% 100%, 100% 100%;
    background-position: 100% 0, -25px 0, 100% 25px;
    background-repeat: no-repeat;
    overflow: hidden;
}
.filled {
    background-image: linear-gradient(#949494, #949494), linear-gradient(#949494, #949494), linear-gradient(#949494, #949494), linear-gradient(#949494, #949494), linear-gradient(to bottom left, transparent calc(50.7% - 1px), #949494 calc(51% - 1px), #949494 calc(50% + 1px), transparent calc(51% + 1px)), linear-gradient(transparent, transparent), linear-gradient(transparent, transparent);
    background-size: 1px 100%, 1px 100%, 100% 1px, 100% 1px, 100px 100px, 100% 100%, 100% 100%;
    background-position: 0 0, 100% 100px, -100px 0, 0 100%, 100% 0, -100px 0, 100% 100px;
}
.serviceTypeChoise{
    display: flex;
    flex-direction: column;    
    width: 30%;
}
.serviceType{
    display: flex;
    align-items:center;
    align-content: center;
    width: 100%;
    height: 140px;
    margin: 10px 0;
    font:normal 900 28px 'Roboto';
    transform: translate3d(0%,  100%, 0);
}
.serviceName{
    width: 100%;
    padding-left: 30px;
    color:white;
    text-align: center;
    font-weight: bolder;
}
.serviceLogo{
    width: 80px;
    height: 80px;
}
.serviceType{
    position: relative;
}
.outerBlock{
    display: flex;
    justify-content: center;
    align-items:center;
    position: absolute;
    left: 50%;
    padding: 10px !important;
    width: 127px;
    height: 127px;
    background-image: linear-gradient(to bottom left, transparent 50%, white 50%), linear-gradient(white, white), linear-gradient(white, white);
    background-size: 25px 25px, 100% 100%, 100% 100%;
    background-position: 100% 0, -25px 0, 100% 25px;
    background-repeat: no-repeat;
}
.filledSpan {
    background-image: linear-gradient(#D8E0FF, #D8E0FF), linear-gradient(#D8E0FF, #D8E0FF), linear-gradient(#D8E0FF, #D8E0FF), linear-gradient(#D8E0FF, #D8E0FF), linear-gradient(to bottom left, transparent calc(50% - 1px), #D8E0FF calc(50% - 1px), #D8E0FF calc(50% + 1px), white calc(50% + 1px)), linear-gradient(white, white), linear-gradient(white, white);
    background-size: 2px 100%, 2px 100%, 100% 2px, 100% 2px, 25px 25px, 100% 100%, 100% 100%;
    background-position: 0% 0%, 100% 25px, -25px 0%, 0px 100%, 100% 0%, -25px 0%, 100% 25px;
}
.active{
    clip-path: circle(25%);
    background: #D8E0FF;
    font-weight: bolder;
    color: black;
    animation: circle 700ms forwards;
}
.serviceType span{
    display: inline-block;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: left;
    color: #464646;
}
@keyframes circle {
    0% { clip-path: circle(25%); }
    100% { clip-path: circle(75%); }
  }
.serviceInfo{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    width: 40%;
    padding: 100px 20px 20px 20px;
    color: #464646;
}
.price_block{
    width: 30%;
    padding: 5px 10px;
    text-align: center;
    color: #464646;
    border:1px solid #D8E0FF;
    border-radius: 25px;
}
.price_value{
    font:normal 500 25px/64px 'Roboto';
    letter-spacing: -2px;
    color: #000000;

}
.info_block{
    padding: 15px 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #000000;
    text-align: center;
    border:1px solid #D8E0FF;
    border-radius: 5px;
}
.line{
    height: 40px;
    border-left: thin solid  #D8E0FF;
}
.contact_us{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    width: 30%;
    font:italic 900 30px 'Roboto';
    color:#000000;
    text-align: center;
}
.contact_us button{
    padding: 5px 15px;
    margin-top: 20px;
    background-color:#D8E0FF;
    font:italic 900 31px 'Roboto';
    color: black;
    border:none;
    outline: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .5s;
}
.contact_us button:hover{
    border-radius: 0;
}
.contact_us span{
    font-weight: bolder;
    text-transform: uppercase;
}
.portfolioMainBlock{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 15px auto;    
}
.choseDevice{
    width: 100%;
    margin: auto;
    text-align: center;
}
.choseDevice button{
    margin: 10px;
}
.portfolioMainBlock button{
    width: 66px;
    height: 91px;
    border: none;
    background: none;
    outline:none ;
}

.portfolioMainBlock button i{
    font-size: 3em;
    color: #b3b4b6;
    cursor: pointer;
}
.portfolioMainBlockInfo{
    position: relative;
    width: 100%;
    height:535px;
}
.laptop {
    display: none;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scale(.6) translate(-50%); /* Scaled down for a better Try-it experience (change to 1 for full scale) */
    transform: scale(.6) translate(-50%); /* Scaled down for a better Try-it experience (change to 1 for full scale) */
    left: 50%;
    position: absolute;
    width: 1366px;
    height: 800px;
    border-radius: 6px;
    border-style: solid;
    border-color: black;
    border-width: 24px 24px 80px;
    background-color: black;
  
}  
  /* The keyboard of the laptop */
.laptop:after {
    content: '';
    display: block;
    position: absolute;
    width: 1600px;
    height: 60px;
    margin: 80px 0 0 -110px;
    background: black;
    border-radius: 6px;
}  
  /* The top of the keyboard */
.laptop:before {
    content: '';
    display: block;
    position: absolute;
    width: 250px;
    height: 30px;
    bottom: -110px;
    left: 50%;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    background: #f1f1f1;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 1;
}  
  /* The screen (or content) of the device */
.laptop .laptopContent {
    width: 1366px;
    height: 700px;
    overflow: hidden;
    border: none;
}
.tablet {
    position: relative;
    display: none;
    width: 768px;
    height: 500px;
    margin: auto;
    border: 16px black solid;
    border-top-width: 60px;
    border-bottom-width: 60px;
    border-radius: 36px;
}  
  /* The horizontal line on the top of the device */
.tablet:before {
    content: '';
    display: block;
    width: 60px;
    height: 5px;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #333;
    border-radius: 10px;
}  
  /* The circle on the bottom of the device */
.tablet:after {
    content: '';
    display: block;
    width: 35px;
    height: 35px;
    position: absolute;
    left: 50%;
    bottom: -65px;
    transform: translate(-50%, -50%);
    background: #333;
    border-radius: 50%;
} 
  /* The screen (or content) of the device */
.smartphone {
    display: none;
    position: relative;
    width: 360px;
    height: 500px;
    margin: auto;
    border: 16px black solid;
    border-top-width: 60px;
    border-bottom-width: 60px;
    border-radius: 36px;
}  
.activeDevice{
      display: block;
}   
.smartphone img , .tablet img , .laptop img{
    width: 100%;
    height: 100%;
    background: center/cover no-repeat;
}

.activePortfolio{
    border:3px solid #bdc8ff;
}
.porfolioShortinfo{
    position: relative;
    overflow: hidden;
    margin: auto;
    width: 80%;
    height: 163px;
}
.potfolioShortBlockInfo{
    position: absolute;
    height: 143px;
    width: 148px;
    overflow: hidden;
}

.contacts{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.contactsShortInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 25px 0 0;
}

.contactBlock{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:310px;
    height: 150px;
    border:2px solid #D8E0FF;
    border-radius: 25px;
}

.contactBlock i{
    margin:25px 0;
    color: #D8E0FF;
    font-size: 1.8em;
}
.contactBlock p{
    font:normal 400 21px 'Roboto';
    color:#6B6B6B;
}
.lineContactLeft{
    width: 231px;
    border-bottom: 1px solid #D8E0FF;
}
.lineContactTop{
    margin: 0;
    height: 45px;
    border-left: 1px solid #D8E0FF;
}
.smallCompanyName{
    padding: 10px;
    border: 1px solid #D8E0FF;
    border-radius: 15px;
    color:#6B6B6B;
}
.contactElemntsBlock{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background:rgba(0, 0, 0, 0.0);
    border: 1px solid #D8E0FF;
    border-radius: 25px;
}
.form{
    display: flex;
    flex-direction: column;
    padding: 0 15px;
}
.form .mainDiv{
    display: flex;
    margin-bottom: 5px;
}
.form div input{
    width: 330px;
    height: 40px;
    padding: 10px;
    margin: 10px;
    font:normal 400 17px 'Roboto';
    border-radius: 15px;
    border: 1px solid #D8E0FF;
    outline:none;
}
.numberInput, .mailInput, .nameInput, .textInput{
    display: flex;
    flex-direction: column;
    margin-top: -1px;
}
.form div textarea{
    font:normal 400 17px 'Roboto';
    padding: 10px;
    margin: 10px;
    width: 100%;
    height: 250px;
    border-radius: 15px;
    resize: none;
    outline:none;
}

.form div:last-child{
    display: flex;
    justify-content: flex-end;
}
.form .sendButton{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 60px !important;
    background:#E8ECFF;
    font:italic 900 30px 'Roboto';
    color: #464646;
    text-transform: uppercase;
    border-bottom-left-radius: 150px;
    border-top-right-radius: 150px;
}
/* .green{background: url('../img/pageTwoBg.png') center/cover;padding-top: 50px;}
.yellow{background:url('../img/pageThreeBg.png')  center/cover ;padding-top: 50px;}
.purple{background:url('../img/pageFourBg.png')  center/cover ;padding-top: 50px;} */

.green{background: url('../img/pageTwoBg.png') center/cover;padding-top: 50px; padding-bottom: 89px;
}
.red{background: url('../img/pageOneBg.png') center/cover;}
.yellow{background:url('../img/pageThreeBg.png')  center/cover ;padding-top: 50px; padding-bottom: 89px;
}
.purple{background:url('../img/pageFourBg.png')  center/cover ;padding-top: 50px; padding-bottom: 89px;
}

#menu__toggle{
    display: none;
}
.error{
    border: 1px solid crimson !important;
}
.nameError,.mobError,.mailError,.textError{
    margin-left: 10px;
    color: crimson;
    text-align: left;
    visibility: hidden;
}
.aboutUs{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url("../img/bg_about.png") center/cover ;
    padding-top: 89px;
    padding-bottom: 89px;

}
.aboutUs h1{
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 900;
    font-size: 60px;
    line-height: 183.8%;
    color: #464646;
}
.about_info{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 85%;
    margin: 0 auto;
    padding-top: 30px;
}
.info_blocks{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 564px;
}
.about_logo{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #A6B7FF;
    border-radius: 50%;
    padding: 30px;
    max-width: 120px;
    max-height: 120px;
}
.about_text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.about_text h2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 183.8%;
    color: #000000;
    padding-bottom: 38px;
    padding-top: 12px;
}
.about_text p{
    font-family: 'Calibri';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    width: 70%;
}
.triangle_bg{
    background: url("../img/center_about_bg.png") center/cover no-repeat;
    height: 528px;

}
@media (min-width: 320px) and (max-width: 480px) {
    /* .red{background: url('../img/bg1_mob.png') center/cover ;}
    .green{background: url('../img/bg3_mob.png') center/cover;}
    .yellow{background:url('../img/bg4_mob.png')  center/cover ;} */
    .emptyDivOne,.emptyDivTwo,.emptyDivThree{
        display: none;
    }
    body{
        width: 100%;
    }
    .contactElemntsBlock{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .contactElemntsBlock form{
        margin: 0;
        padding: 0;
    }
    .form div{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }
    .form div:last-child{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        width: 100%;
    }
    .form div:last-child input{
        width:60%;
        padding: 0!important;
        margin: 0!important;
        background: #FFFFFF;
        border-radius: 71px;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    }
    .form div input{
        width: 100%;
    }
    .form div textarea{
        padding: 15px;
        margin: 0;
        width: 100%;
    }
    .contacts{
        width: 100%;
    }
    .contactsShortInfo{
        flex-direction: column;
    }
    .contact_us{
        display: none;
    }
    .contactBlock{
        padding: 15px;
        margin-bottom: 15px;
        width: 80%;
        height: 100%;
    }
    .contactBlock:nth-last-child(1){
        margin-bottom: 0;
    }
    .lineContactLeft{
        display: none;
    }
    .logoService{
        margin-top: 180px;
        margin-bottom: -100px;
        height: auto;    
    }
    .logoService img{
        width: 80px;
        height: 80px;
    }
    .infoMobile{
        display: block;
        width: 100%;
        height: 80px;
    }
    .infoMobile .info_block{
        display: block;
        padding: 5px 10px;
        width: 100%;
        border: none;
    }
    .servicesСhoice{
        display: none;
    }
    .filled{
        background: none;
    }
    .line{
        height: 70px;
    }
    .services{
        flex-direction: column-reverse;
        padding-bottom: 100px;
        max-height: 100%;
        background: none;
        border: 1px solid #C7C7C7;
    }
    .serviceTypeChoise{
        flex-direction: row;
        padding-bottom: 100px;
        margin-top: -50px;
        width: 100%;
    }
    .info_block{
        display: none;
    }
    .price_block{
        width: 100%;
    }
    .price_value{
        font-size:16px;
        line-height: 40px;
    }
    .outerBlock{
        position: static;
        left: 0;
        width: 80px;
        height: 80px;
    }
    .serviceType span{
        display: block;
        padding: 0;
        text-align: center;
    }
    .serviceName{
        padding: 0;
        margin-bottom: -30px;
        width: 100%;
    }
    .serviceLogo{
        width: 50px;
        height: 50px;
    }
    .line-2{
        display: none;
    }
    .serviceType{
        flex-direction: column-reverse;
        height:auto;
        width: 100%;
        transform: translate3d(100%,100%, 0);
    }
    .serviceInfo{
        padding:0;
    }
    .title{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 0;
        font-size: 30px;
        font-style: italic;
        text-align: center;
        color: #464646;
        letter-spacing: -2px;
        line-height: 60px;
        text-transform: uppercase;
    }
    .contanctTitle{
        width: 80%;
    }
    .map{
        display: none;
    }
    #menu__toggle {
        display: block;
        opacity: 0;
    }

    #menu__toggle:checked ~ .menu__btn > span {
        transform: rotate(45deg);
    }
    #menu__toggle:checked ~ .menu__btn > span::before {
        top: 0;
        transform: rotate(0);
    }
    #menu__toggle:checked ~ .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
    }
    #menu__toggle:checked ~ .menu__box {
        visibility: visible;
        right: 0;
    }
    .menu__btn {
        display: flex;
        align-items: center;
        position: fixed;
        top: 20px;
        right: 20px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 5;
    }

    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #616161;
        transition-duration: .25s;
    }
    .menu__btn > span::before {
        content: '';
        top: -8px;
    }
    .menu__btn > span::after {
        content: '';
        top: 8px;
    }
    .menu__box {
        display: block;
        position: fixed;
        top: 0;
        right:-100%;
        visibility: hidden;
        margin: 0;
        padding: 80px 0;
        width: 100%;
        height: 100%;
        list-style: none;
        background-color: #fff;
        box-shadow: 1px 0 6px rgba(0, 0, 0, .2);
        transition-duration: .25s;
        z-index: 2;
    }
    .menu__item {
        display: block;
        padding: 12px 24px;
        text-align: center;
        color: #333;
        font:normal 600 20px 'Roboto', sans-serif;
        text-decoration: none;
        transition-duration: .25s;
    }
    .menu__item:hover {
        background-color: #CFD8DC;
    }
}