*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 800px;
    min-height: 100vh;
}

header{
    display: flex;
    justify-content: space-around;
    padding: 30px 0;
    background-color: #d8e0ff;
    width: 100%;
}

header i{
    font-size: 1.5em;
    color: #858585;
    cursor: pointer;

}
.languageBlock{
    position: relative;
}


.languageBlock i:hover + .languageList{
    display: block;
} 

.languageList:hover{
    display: block;
}
.languageList{
    display: none;
    position: absolute;
    transform: translate(-10%,0);
    width: 30px;
    padding: 10px 0 0;
    animation:listDrop 2s forwards;
    overflow: hidden;
}

@keyframes listDrop{
    from{ height: 0;}
    to{height: 120px;}
}

.languageList li{
    transition: 0.5s;
}
.languageList li:hover{
    cursor: pointer;
    background:lightblue;
    padding: 5px;
    border-radius: 10px;
}
nav ul{
    display: flex;
}
nav ul a{
    margin: 0 5px;
    padding: 5px 15px;
    border-radius: 25px;
    font-family: 'Beaufort';
    font-size: 20px;
    font-style: italic;
    font-weight: 900;
    text-transform: uppercase;
    color: #858585;
    text-decoration: none;
    transition: 1s;
}

nav a:hover{
    background-color:white;
    color:black;
}

.title{
    font-family: 'Beaufort';
    font-weight :900;
    font-style :normal;
    color: #464646;
    text-align: center;
    text-transform: uppercase;
    
}
.portfolioTitle{
    font-family: 'Beaufort';
    font-weight :900;
    font-style :normal;
    font-size: 64px;
    line-height: 183.8%;
    color: #464646;
    padding-top: 86px;
}
.serviceTitle{
    font-family: 'Beaufort';
    font-weight :900;
    font-style :normal;
    font-size: 64px;
    background: rgba(216, 224, 255, 0.55);
    border-radius: 85px;
    width: 70%;
    margin: auto;
    margin-top: 40px;
    position: relative;
}
.contanctTitle{
    font-family: 'Beaufort';
    font-weight :900;
    font-style :normal;
    font-size: 64px;
    width: 50%;
    margin: auto;
    background: rgba(216, 224, 255, 0.55);
    border-radius: 85px;
    position: relative;
}
.emptyDivOne{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 20%;
    top: -15px;
    background: #F7F8FF;
    border-radius: 180px;
}
.emptyDivTwo{
    position: absolute;
    width: 82px;
    height: 50px;
    border-radius: 180px;
    right: -25px;
    top: 50%;
    background: #FFFFFF;
}
.emptyDivThree{
    position: absolute;
    width: 70px;
    height: 102.16px;
    left: 0;
    top: -35px;
    background: #FFFFFF;
    border-radius: 151px;
    transform: rotate(40deg);
}
.infoMobile{
    display: none;
}
.swiper-container {
    width: 100%;
    height: 100%;
  }
.swiper-pagination-bullet{
    background: #00C0FF;
    width: 20px;
    height: 20px;
}
.swiper-pagination-bullet-active {
    background-color: white;
  }
.swiper-slide {
    height: 80vh;
    text-align: center;
    font-size: 18px;
    background: rgba(0, 0, 0, 0.0);
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

.swiper-button-next , .swiper-button-prev{
    color:lightblue;
}
.sliderBlock{
    display: flex;
    justify-content: center;
    align-items:center;
    width: 70%;
    margin: 0 auto;

}

.services小hoice{
    margin: 30px 0;
    display: flex;
    justify-content: space-around;
}

.services小hoice button{
    outline: none;
    border-radius: 3px 40px  3px 40px;
    height: 53px;
    width: 340px;
    font-size: 31px;
    letter-spacing: -1px;
    line-height: 31px;
    color: #464646;
    font-family: 'Beaufort';
    font-weight :900;
    font-style :normal;
    background-color: transparent;
    border:3px solid #E8ECFF;
    cursor: pointer;
    text-transform: uppercase;
    transition: .3s;
}
.services小hoice button:hover{
    border-radius: 0;
    background-color:#D8E0FF;

}
.logoService{
    position: relative;
    text-align: center;
    margin: 180px 0;
}
.logoService img{
    transform: translate(-50%,0);
    height: 300px;
    position: absolute;
    top:-150px;
}
.services{
    display: flex;
    justify-content: space-between;
    align-items:center;
    width: 90%;
    max-height: 450px;
    margin: 0 auto;
    overflow: hidden;
    background-image: linear-gradient(to bottom left, #949494 50%, #949494 50%), linear-gradient(#949494, #949494), linear-gradient(#949494, #949494);
    background-size: 50px 50px, 100% 100%, 100% 100%;
    background-position: 100% 0, -25px 0, 100% 25px;
    background-repeat: no-repeat;
}
.filled {
    background-image: linear-gradient(#949494, #949494), linear-gradient(#949494, #949494), linear-gradient(#949494, #949494), linear-gradient(#949494, #949494), linear-gradient(to bottom left, transparent calc(50.7% - 1px), #949494 calc(51% - 1px), #949494 calc(50% + 1px), transparent calc(51% + 1px)), linear-gradient(transparent, transparent), linear-gradient(transparent, transparent);
    background-size: 1px 100%, 1px 100%, 100% 1px, 100% 1px, 100px 100px, 100% 100%, 100% 100%;
    background-position: 0 0, 100% 100px, -100px 0, 0 100%, 100% 0, -100px 0, 100% 100px;
  }

.serviceTypeChoise{
    display: flex;
    flex-direction: column;    
    width: 30%;
}
.serviceType{
    display: flex;
    align-items:center;
    align-content: center;
    transform: translate3d(0%,  100%, 0);
    font-family: 'Beaufort';
    font-size: 28px;
    font-style: normal;
    font-weight: 900;
    width: 100%;
    height: 140px;
    margin: 10px 0;
}


.serviceName{
    width: 100%;
    color:white;
    text-align: center;
    padding-left: 30px;
    font-weight: bolder;
}
.serviceLogo{
    width: 80px;
    height: 80px;
}
.serviceType{
    position: relative;
}
.outerBlock{
    display: flex;
    justify-content: center;
    align-items:center;
    position: absolute;
    left: 50%;
    padding: 10px !important;
    width: 127px;
    height: 127px;
    background-image: linear-gradient(to bottom left, transparent 50%, white 50%), linear-gradient(white, white), linear-gradient(white, white);
    background-size: 25px 25px, 100% 100%, 100% 100%;
    background-position: 100% 0, -25px 0, 100% 25px;
    background-repeat: no-repeat;
    
}
.filledSpan {
    background-image: linear-gradient(#D8E0FF, #D8E0FF), linear-gradient(#D8E0FF, #D8E0FF), linear-gradient(#D8E0FF, #D8E0FF), linear-gradient(#D8E0FF, #D8E0FF), linear-gradient(to bottom left, transparent calc(50% - 1px), #D8E0FF calc(50% - 1px), #D8E0FF calc(50% + 1px), white calc(50% + 1px)), linear-gradient(white, white), linear-gradient(white, white);
    background-size: 2px 100%, 2px 100%, 100% 2px, 100% 2px, 25px 25px, 100% 100%, 100% 100%;
    background-position: 0% 0%, 100% 25px, -25px 0%, 0px 100%, 100% 0%, -25px 0%, 100% 25px;
}
.active{
    animation: circle 700ms forwards;
    clip-path: circle(25%);
    background: #D8E0FF;
    color: black;
    font-weight: bolder;
    
}
.serviceType span{
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: left;
    display: inline-block;
    color: #464646;
}
@keyframes circle {
    0% { clip-path: circle(25%); }
    100% { clip-path: circle(75%); }
  }
.serviceInfo{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    width: 40%;
    padding: 100px 20px 20px 20px;
    color: #464646;
}
.price_block{
    border:1px solid #D8E0FF;
    border-radius: 25px;
    width: 30%;
    color: #464646;
    text-align: center;
    padding: 5px 10px;
}

.price_value{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: bold;
    font-size: 25px;
    letter-spacing: -2px;
    line-height: 64px;
    color: #000000;
    font-weight: 500;

}

.info_block{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: bold;
    border:1px solid #D8E0FF;
    border-radius: 5px;
    color: #000000;
    text-align: center;
    padding: 15px 20px;
}
.line{
    border-left: thin solid  #D8E0FF;
    height: 40px;
}
.contact_us{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    font-family: 'Beaufort';
    font-size: 61px;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    width: 30%;
    color:#000000;
    text-align: center;

}
.contact_us button{
    margin-top: 20px;
    background-color:#D8E0FF;
    border:none;
    outline: none;
    color: black;
    font-family: 'Beaufort';
    font-size: 31px;
    font-style: normal;
    font-weight: 900;
    border-radius: 30px;
    padding: 5px 15px;
    transition: .5s;
    cursor: pointer;
}
.contact_us button:hover{
    border-radius: 0;
}
.contact_us span{
    text-transform: uppercase;
    font-weight: bolder;
}

.portfolioMainBlock{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 15px auto;    
}

.portfolioMainBlock button{
    width: 66px;
    height: 91px;
    border: none;
    background: none;
    outline:none ;
}

.portfolioMainBlock button i{
    font-size: 3em;
    color: #b3b4b6;
    cursor: pointer;
}

.portfolioMainBlockInfo{
    width: 80%;
    height:535px;
}

.portfolioMainBlockInfo img{
    width: 100%;
    height: 100%;
    background: center/cover no-repeat;
}
.activePortfolio{
    border:3px solid #bdc8ff;
}
.porfolioShortinfo{
    position: relative;
    overflow: hidden;
    width: 80%;
    margin: auto;
    height: 163px;
    margin: auto;
}

.potfolioShortBlockInfo{
    height: 143px;
    width: 148px;
    position: absolute;
    overflow: hidden;
}

.contacts{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.contactsShortInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 25px 0 0;
}

.contactBlock{
    width:310px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border:2px solid #D8E0FF;
    border-radius: 25px;
}

.contactBlock i{
    margin:25px 0;
    color: #D8E0FF;
    font-size: 1.8em;
}
.contactBlock p{
    font-family: 'Roboto';
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    color:#6B6B6B;
}
.lineContactLeft{
    width: 231px;
    border-bottom: 1px solid #D8E0FF;
}

.lineContactTop{
    height: 45px;
    border-left: 1px solid #D8E0FF;
    margin: 0;
}

.smallCompanyName{
    padding: 10px;
    border: 1px solid #D8E0FF;
    border-radius: 15px;
    color:#6B6B6B;
}

.contactElemntsBlock{
    display: flex;
    justify-content: space-around;
    border: 1px solid #D8E0FF;
    border-radius: 25px;
    padding: 20px;
    background:rgba(0, 0, 0, 0.0);
}

.form{
    display: flex;
    flex-direction: column;
    padding: 0 15px;
}
.form div{
    margin-bottom: 5px;
}

.form div input{
    font-family: 'Roboto';
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    width: 330px;
    height: 40px;
    margin: 10px;
    border-radius: 15px;
    border: 1px solid #D8E0FF;
    outline:none;
    padding: 10px;
}


.form div textarea{
    font-family: 'Roboto';
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    width: 100%;
    height: 250px;
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
    resize: none;
    outline:none;
}

.form div:last-child{
    display: flex;
    justify-content: flex-end;
}
.form div:last-child input{
    font-family: 'Beaufort';
    font-size: 30px;
    font-style: normal;
    font-weight: 900;
    width: 280px;
    background:#E8ECFF;
    border: 1px solid red;
    border-bottom-left-radius: 150px;
    border-top-right-radius: 150px;
    color: #464646;
}

.green{background: url('../img/pageTwoBg.png') center/cover;padding-top: 50px;}
.red{background: url('../img/pageOneBg.png') center/cover;}
.yellow{background:url('../img/pageThreeBg.png')  center/cover ;padding-top: 50px;}
.purple{background:url('../img/pageFourBg.png')  center/cover ;padding-top: 50px;}

#menu__toggle{
    display: none;
}


@media (min-width: 320px) and (max-width: 480px) {
    .red{background: url('../img/bg1_mob.png') center/cover ;}
    .green{background: url('../img/bg3_mob.png') center/cover;}
    .yellow{background:url('../img/bg4_mob.png')  center/cover ;}
    .emptyDivOne,.emptyDivTwo,.emptyDivThree{
        display: none;
    }
    body{
        width: 100%;
    }
    .contactElemntsBlock{
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .contactElemntsBlock form{
        padding: 0;
        margin: 0;
    }
    .form div{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .form div:last-child{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
    }
    .form div:last-child input{
        width:60%;
        background: #FFFFFF;
        border-radius: 71px;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        padding: 0!important;
        margin: 0!important;
    }
    .form div input{
        width: 100%;
    }
    .form div textarea{
        width: 100%;
        margin: 0;
        padding: 15px;
    }
    .contacts{
        width: 100%;
    }
    .contactsShortInfo{
        flex-direction: column;
    }
    .contact_us{
        display: none;
    }
    .contactBlock{
        width: 80%;
        height: 100%;
        margin-bottom: 15px;
        padding: 15px;
    }
    .contactBlock:nth-last-child(1){
        margin-bottom: 0;
    }
    .lineContactLeft{
        display: none;
    }
    .logoService{
        height: auto;
        margin-top: 180px;
        margin-bottom: -100px;
    }
    .logoService img{
        width: 80px;
        height: 80px;
    }
    .infoMobile{
        display: block;
        width: 100%;
        height: 80px;
    }
    .infoMobile .info_block{
        display: block;
        border: none;
        width: 100%;
        padding: 5px 10px;
    }
    .services小hoice{
        display: none;
    }
    .filled{
        background: none;
    }
    .line{
        height: 70px;
    }
    .services{
        background: none;
        border: 1px solid #C7C7C7;
        flex-direction: column-reverse;
        padding-bottom: 100px;
        max-height: 100%;
    }
    .serviceTypeChoise{
        flex-direction: row;
        width: 100%;
        padding-bottom: 100px;
        margin-top: -50px;
    }
    .info_block{
        display: none;
    }
    .price_block{
        width: 100%;
    }
    .price_value{
        font-size:16px;
        line-height: 40px;
    }
    .outerBlock{
        width: 80px;
        height: 80px;
        position: static;
        left: 0;
    }
    .serviceType span{
        padding: 0;
        display: block;
        text-align: center;
    }
    .serviceName{
        margin-bottom: -30px;
        width: 100%;
        padding: 0;
    }
    .serviceLogo{
        width: 50px;
        height: 50px;
    }
    .line-2{
        display: none;
    }
    .serviceType{
        flex-direction: column-reverse;
        transform: translate3d(100%,100%, 0);
        height:auto;
        width: 100%;
    }
    .serviceInfo{
        padding:0;
    }
    .title{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 0;
        font-size: 30px;
        letter-spacing: -2px;
        line-height: 60px;
        color: #464646;
        font-style: italic;
        text-align: center;
        text-transform: uppercase;
    }
    .contanctTitle{
        width: 80%;
    }
    .map{
        display: none;
    }
    #menu__toggle {
        display: block;
        opacity: 0;
    }

    #menu__toggle:checked ~ .menu__btn > span {
        transform: rotate(45deg);
    }
    #menu__toggle:checked ~ .menu__btn > span::before {
        top: 0;
        transform: rotate(0);
    }
    #menu__toggle:checked ~ .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
    }
    #menu__toggle:checked ~ .menu__box {
        visibility: visible;
        right: 0;
    }

    .menu__btn {
        display: flex;
        align-items: center;
        position: fixed;
        top: 20px;
        right: 20px;

        width: 26px;
        height: 26px;

        cursor: pointer;
        z-index: 5;
    }

    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
        display: block;
        position: absolute;

        width: 100%;
        height: 2px;

        background-color: #616161;

        transition-duration: .25s;
    }
    .menu__btn > span::before {
        content: '';
        top: -8px;
    }
    .menu__btn > span::after {
        content: '';
        top: 8px;
    }

    .menu__box {
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        right:-100%;

        width: 100%;
        height: 100%;

        margin: 0;
        padding: 80px 0;

        list-style: none;

        background-color: #fff;
        box-shadow: 1px 0 6px rgba(0, 0, 0, .2);

        transition-duration: .25s;
        z-index: 2;
    }

    .menu__item {
        display: block;
        padding: 12px 24px;
        text-align: center;
        color: #333;

        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 600;

        text-decoration: none;

        transition-duration: .25s;
    }
    .menu__item:hover {
        background-color: #CFD8DC;
    }
}